.jumbotron {
  padding-top: 2rem;
  background-color: #0d59ff;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#gallery {
  background-color: white;
}

body {
  color: #000;
}

.navbar {
  background-color: #00040a;
}

#gallery {
  background-color: #fff;
}
